.container {
  max-width: 400px;
  margin: 10vh auto 0 auto;
}

#display {
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
}
.buttons {
  display: grid;
  border-bottom: 1px solid #999;
  border-left: 1px solid#999;
  grid-template-columns: 1fr 1fr 1fr;
}
.buttons > div {
  border-top: 1px solid #999;
  border-right: 1px solid#999;
}
.button {
  border: 0.5px solid #999;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  background-color: rgb(255, 0, 0);
  border-radius: 5%;
  margin: 3px;
}
#equal {
  background-color: rgb(255, 85, 190);
  color: rgb(51, 255, 0);
}

@media screen and (min-width: 700px) {
  .container {
    max-width: 695px;
  }

  .button {
    border: 1px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 40px;
    background-color: rgb(255, 196, 0);
    border-radius: 10%;
    margin: 5px;
  }
}
